<h1>GOT family tree</h1>

<div class="container">
  <ng-container
    *ngFor="let character of gotFamilytree"
    [ngTemplateOutlet]="characterTemplate"
    [ngTemplateOutletContext]="{ $implicit: character, level: 0 }"
  >
  </ng-container>

  <ng-template #characterTemplate let-character let-level="level">
    <app-got-character
      [character]="$any({name: character.name, color: character.color})"
      [level]="level"
    ></app-got-character>
    <ng-container
      *ngFor="let child of character.children"
      [ngTemplateOutlet]="characterTemplate"
      [ngTemplateOutletContext]="{ $implicit: child, level: level + 1 }">
    </ng-container>
  </ng-template>

</div>
